{% extends 'template.html.twig' %}


{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Registration</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="{{ path('app_login') }}">Login</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Registration</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<br>
<div class="row px-xl-5">
    <div class="col-lg-7 mb-5">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.address) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary mt-2">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset('assets/lib/easing/easing.min.js')}}"></script>
<script src="{{ asset('assets/lib/owlcarousel/owl.carousel.min.js')}}"></script>

<!-- Contact Javascript File -->
<script src="{{ asset('assets/mail/jqBootstrapValidation.min.js')}}"></script>
<script src="{{ asset('assets/mail/contact.js')}}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>

<!-- Template Javascript -->
{% endblock %}
